body {
    background: url(../image/anh-background-mua-he-xanh_025649895.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}